.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
  max-width: 640px;
  padding: 40px 80px;
  border-radius: 25px;
  width: 100%;
  align-items: center;
  text-align: center;

  .intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .name {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 25px;
    }

    .headshot {
      border-radius: 60px;
    }
  
    .tagline {
      font-size: 15px;
    }
  
    .socials {
      display: flex;
      flex-direction: row;
      align-self: center;
      gap: 8px;
    }
  
    .socialicon {
      font-size: 40px;
      background-color: black;
      color: white;
      padding: 8px;
      border-radius: 24px;
    }
  }

  .spotify {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
  }

  .spotifyChild {
    max-width: calc(50% - 6px);
  }
  @media (max-width: 500px) {
    .spotify {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
    }
  
    .spotifyChild {
      max-width: 100%;
    }
  }

  .youtubewrapper {
    border-radius: 12px;
    overflow: hidden;
  }

  .videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .instagram {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .longlinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;

    .linkchild {
      width: 100%;
      background-color: #f3f3f3;
      padding: 6px;
      border-radius: 12px;
      display: flex;
      flex-direction: row;
      gap: 12px;
      transition: box-shadow .1s;
    }

    .linkimage {
      border-radius: 6px;
    }
    
    .linkdescription {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .linkcategory {
      font-size: 10px;
    }

    .linktitle {
      font-size: 20px;
    }
  }
  

  .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .linkchild {
      width: calc(50% - 10px);
      background-color: #f3f3f3;
      padding: 12px;
      border-radius: 12px;
      display: flex;
      flex-direction: row;
      gap: 12px;
      transition: box-shadow .1s;
    }

    .linkimage {
      border-radius: 12px;
    }
    
    .linkdescription {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .linkcategory {
      font-size: 10px;
    }

    .linktitle {
      font-size: 20px;
    }
  }

  .linkchild:hover {
    box-shadow: 0 0 8px rgba(20,20,20,.1); 
  }
}

@media (max-width: 500px) {
  .content {
    padding: 10px 20px; 
  }
}

.author {
  margin: 75px 30px 30px 30px;
  max-width: 640px;
  border-top: solid 1px lightgray;
  text-align: center;
  width: 100%;
  padding: 20px 10px 0px 10px;
  color: gray;
  font-size: 12px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 500px) {
  .mobile {
    display: block;
  }
  
  .desktop {
    display: none;
  }
}
